# https://github.com/anmol098/waka-readme-stats
name: Waka Readme
on:
  schedule:
    # Runs at 12am IST
    - cron: '30 18 * * *'
  workflow_dispatch:
jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
    - name: Profile Readme Development Stats
      uses: anmol098/waka-readme-stats@v4
      with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_SHORT_INFO: "False"
          SHOW_LANGUAGE_PER_REPO: "False"
          SHOW_PROJECTS: "False"
          SHOW_COMMIT: "False"
          SHOW_UPDATED_DATE: "True"
          SHOW_DAYS_OF_WEEK: "False"
          SHOW_LOC_CHART: "False"
